<div class="row">
  <!-- site Analytics card start -->
  <div class="col-xl-7 col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-primary text-white">
          <div class="p-20 pb-0">
            <h2 class="m-0">{{creditList?.length}}</h2>
            <span class="text-c-blue">Demande de credit</span>
            <p class="mb-3 mt-3">Nombre total de demandes de credit</p>
          </div>
          <app-apex-chart chartID="support-chart-1" [chartConfig]="this.supportChartData1"></app-apex-chart>
          <div class="app-card-footer">
            <div class="row text-center">
              <div class="col">
                <h4 class="m-0 text-white">{{acceptedCreditList?.length}}</h4>
                <span>Accepté</span>
              </div>
              <div class="col">
                <h4 class="m-0 text-white">{{waitingCreditList?.length}}</h4>
                <span>Attendre</span>
              </div>
              <div class="col">
                <h4 class="m-0 text-white">{{refusedCreditList?.length}}</h4>
                <span>Refusé</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-6">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-c-yellow text-white">
          <div class="p-20 pb-0">
            <h2 class="m-0">{{waitingCreditList?.length}}</h2>
            <span class="text-c-yellow">Demande de credit</span>
            <p class="mb-3 mt-3">Nombre total de demandes de credit en attente.</p>
          </div>
          <app-apex-chart chartID="support-chart-2" [chartConfig]="this.supportChartData2"></app-apex-chart>
          <div class="app-card-footer">
            <div class="row text-center">
              <div class="col">
                <h4 class="m-0 text-white">10</h4>
                <span>En attend</span>
              </div>
              <!-- <div class="col">
                <h4 class="m-0 text-white">5</h4>
                <span>Running</span>
              </div> -->
              <div class="col">
                <h4 class="m-0 text-white">21</h4>
                <span>Autres</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <div class="col-xl-5 col-sm-12">
    <div class="row">
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-yellow">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-yellow">{{carNumber}}</h4>
              <h6 class="text-muted m-b-0">Voitures</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-bar-chart-2 f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% changement</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-green">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-green">+2900</h4>
              <h6 class="text-muted m-b-0">Vues de voiture</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-eye f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% changement</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-red">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-red">{{acceptedCreditList?.length}}</h4>
              <h6 class="text-muted m-b-0">Accepté</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-thumbs-up f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% changement</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-blue">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Téléchargements</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-download f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% changement</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <!-- seo start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>21,002 dt</h3>
          <h6 class="text-muted m-b-0">Gains<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-1" [chartConfig]="this.seoChartData1"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>35.54%</h3>
          <h6 class="text-muted m-b-0">Taux du gains<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-2" [chartConfig]="this.seoChartData2"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>+{{carNumber}}</h3>
          <h6 class="text-muted m-b-0">Voitures<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-3" [chartConfig]="this.seoChartData3"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <!-- seo end -->

  <!-- latest customers start -->
  <div class="col-lg-8 col-md-12">
    <app-card cardTitle="Customer Reviews" headerClass="borderless" cardClass="table-card review-card">
      <div class="review-block">
        <div class="row">
          <div class="col-sm-auto p-r-0">
            <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
          </div>
          <div class="col">
            <h6 class="m-b-15">John Deo <span class="float-right f-13 text-muted"> a week ago</span></h6>
            <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
            <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
            <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
              took a
              galley of type and scrambled it to make a type specimen book.</p>
            <a href="javascript:" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
            <a href="javascript:"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
            <a href="javascript:"><i class="feather icon-edit text-muted"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-auto p-r-0">
            <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
          </div>
          <div class="col">
            <h6 class="m-b-15">Allina D’croze <span class="float-right f-13 text-muted"> a week ago</span></h6>
            <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
              took a
              galley of type and scrambled it to make a type specimen book.</p>
            <a href="javascript:" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
            <a href="javascript:"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
            <a href="javascript:"><i class="feather icon-edit text-muted"></i></a>
            <blockquote class="blockquote m-t-15 m-b-0">
              <h6>Allina D’croze</h6>
              <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of the industry.</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="text-right  m-r-20">
        <a href="javascript:" class="b-b-primary text-primary">View all Customer Reviews</a>
      </div>
    </app-card>
    <div class="row">
      <div class="col-sm-6">
        <app-card [hidHeader]="true">
          <h5 class="mb-3">Power</h5>
          <h2>2789<span class="text-muted m-l-5 f-14">kw</span></h2>
          <app-apex-chart chartID="power-card-chart-1" [chartConfig]="this.powerCardChartData1"></app-apex-chart>
          <div class="row">
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">2876 <span> kw</span></h6>
                <p class="text-muted m-0">month</p>
              </div>
            </div>
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">234 <span> kw</span></h6>
                <p class="text-muted m-0">Today</p>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-6">
        <app-card [hidHeader]="true">
          <h5 class="mb-3">Temperature</h5>
          <h2>7.3<span class="text-muted m-l-10 f-14">deg</span></h2>
          <app-apex-chart chartID="power-card-chart-2" [chartConfig]="this.powerCardChartData2"></app-apex-chart>
          <div class="row">
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">4.5 <span> deg</span></h6>
                <p class="text-muted m-0">month</p>
              </div>
            </div>
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">0.5 <span> deg</span></h6>
                <p class="text-muted m-0">Today</p>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <app-card cardTitle="Chat" cardClass="chat-card">
      <div class="row m-b-20 m-t-20 received-chat">
        <div class="col-auto p-r-0">
          <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40">
        </div>
        <div class="col">
          <div class="msg">
            <p class="m-b-0">Nice to meet you!</p>
          </div>
          <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
        </div>
      </div>
      <div class="row m-b-20 send-chat">
        <div class="col">
          <div class="msg">
            <p class="m-b-0">Nice to meet you!</p>
          </div>
          <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
        </div>
        <div class="col-auto p-l-0">
          <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius wid-40">
        </div>
      </div>
      <div class="row m-b-20 received-chat">
        <div class="col-auto p-r-0">
          <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40">
        </div>
        <div class="col">
          <div class="msg">
            <p class="m-b-0">Nice to meet you!</p>
            <img src="assets/images/widget/dashborad-1.jpg" alt="">
            <img src="assets/images/widget/dashborad-3.jpg" alt="">
          </div>
          <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
        </div>
      </div>
      <div class="form-group m-t-15">
        <label class="floating-label" for="Project">Send message</label>
        <input type="text" name="task-insert" class="form-control" id="Project">
        <div class="form-icon">
          <button class="btn btn-primary btn-icon">
            <i class="feather icon-message-circle"></i>
          </button>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true" cardClass="user-card2" blockClass="text-center">
      <h6 class="m-b-15">Project Risk</h6>
      <div class="risk-rate">
        <span><b>5</b></span>
      </div>
      <h6 class="m-b-10 m-t-10">Balanced</h6>
      <a href="javascript:" class="text-c-green b-b-success">Change Your Risk</a>
      <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
        <div class="col m-t-15 b-r-default">
          <h6 class="text-muted">Nr</h6>
          <h6>AWS 2455</h6>
        </div>
        <div class="col m-t-15">
          <h6 class="text-muted">Created</h6>
          <h6>30th Sep</h6>
        </div>
      </div>
    </app-card>
  </div>
  <!-- latest customers end -->

</div>
